<html>
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <Title>Love Match</Title>
    <link rel="stylesheet" href="styles.css">
</head>
    <body>
<div class="topnav">
  <a id="click" href="/">Home</a>
  <a id="click" href="contact.html">Contact</a>
  <a id="click" href="about.html">About</a>
  <button onclick="document.getElementById('id01').style.display='block'" style="right:20%;" class="button">Login</button>
</div>


<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>About</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
  </tr>

</table>

</body>
</html>

