<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Match Me</title>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="/static/style_account.css">
</head>
<body>
<div class="topnav">
    <a id="click" href="/">Home</a>
    <a id="click" href="contact.html">Contact</a>
    <a id="click" href="about.html">About</a>
    <label id="time"></label>
      <script>
         setInterval(()=>{
           const time = document.querySelector("#time");
           let date = new Date();
           let hours = date.getHours();
           let minutes = date.getMinutes();
           let seconds = date.getSeconds();
           let day_night = "AM";
           if(hours > 12){
             day_night = "PM";
             hours = hours - 12;
           }
           if(seconds < 10){
             seconds = "0" + seconds;
           }
           if(minutes < 10){
             minutes = "0" + minutes;
           }
           if(hours < 10){
             hours = "0" + hours;
           }
           time.textContent = hours + ":" + minutes + ":" + seconds + " "+ day_night;
         });
      </script>
</div>
</body>
<body id="body2">

<div id="circle">

<style>
#circle{
  {% if data %}
  background-image:linear-gradient(to bottom right, {{ data[0][7] }}, {{ data[0][8] }});
  {% else %}
  background-image:linear-gradient(to bottom right, red, blue);
  {% endif %}
  position: fixed;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  top: 45px;
  left: 190px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
</style>

</div>
<label id="welcome">Welcome, {{userName}}</label>

<div id="quote-box">
  <h1>Quote Of The Day</h1>
  <div id="quote"></div>
  <div id="author"></div>
  <button id="new-quote">New Quote</button>
</div>


<div class="mySlides fade">
  <img src="/static/images/{{ filename }}" id="imguser">
</div>

{% if data %}
<div id="dataCSS">
  <label><b>Gender: </b>{{ data[0][1] }}</label><br>
  <label><b>Age: </b>{{ data[0][2] }}</label><br><br>
  <label style="font-weight:bold;">Hobbies and interests:</label><br>
  <label><b>1. </b>{{ data[0][3] }}</label><br>
  <label><b>2. </b>{{ data[0][4] }}</label><br>
  <label><b>3. </b>{{ data[0][5] }}</label><br><br>
  <label style="font-weight:bold;">Courses: (Year {{ data[0][12] }})</label><br>
  <label><b>- </b>{{ data[0][9] }}</label><br>
  <label><b>- </b>{{ data[0][10] }}</label><br>
  <label><b>- </b>{{ data[0][11] }}</label><br><br>
  <label><b>Phone: </b>{{ data[0][6] }}</label><br><br>
  <label><b>Bio: </b>{{ data[0][13] }}</label><br>
</div>
{% else %}
<div id="dataCSS">
  <label>Fill the student form to see your details.</label>
  <a id="formCSS" href="/compare">Form</a>
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/64d58efce2.js"></script>
<script>
  $(document).ready(function() {
    function getQuote() {
      axios.get('https://api.quotable.io/random')
        .then(function(response) {
          $('#quote').text(response.data.content);
          $('#author').text('- ' + response.data.author);
        })
        .catch(function(error) {
          console.log(error);
        });
    }

    getQuote();

    $('#new-quote').on('click', function() {
      getQuote();
    });
  });
</script>



<div class="sidebar">
  <a href="/account" style="color:red;">Account</a>
  <a href="/message">Messaging app</a>
  <a href="friends">Friends</a>
  <a href="/settings">Settings</a>
  <a id="click1" href="/logout">Log out</a>
</div>

</body>
</html>
