<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Match Me</title>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="/static/settings.css">
</head>
<body>
<div class="topnav">
    <a id="click" href="/">Home</a>
    <a id="click" href="contact.html">Contact</a>
    <a id="click" href="about.html">About</a>
    <label id="time"></label>
      <script>
         setInterval(()=>{
           const time = document.querySelector("#time");
           let date = new Date();
           let hours = date.getHours();
           let minutes = date.getMinutes();
           let seconds = date.getSeconds();
           let day_night = "AM";
           if(hours > 12){
             day_night = "PM";
             hours = hours - 12;
           }
           if(seconds < 10){
             seconds = "0" + seconds;
           }
           if(minutes < 10){
             minutes = "0" + minutes;
           }
           if(hours < 10){
             hours = "0" + hours;
           }
           time.textContent = hours + ":" + minutes + ":" + seconds + " "+ day_night;
         });
      </script>
</div>
</body>
<body id="body2">
<div id="upload">
  <form method="post" enctype=multipart/form-data action="/upload">
    <label>Upload pictures to your account</label>
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
</div>

<div class="sidebar">
  <a href="/account">Account</a>
  <a href="/message">Messaging app</a>
  <a href="friends"><img href="/static/people.png">Friends</a>
  <a>Personality test</a>
  <a href="/settings" style="color:red;">Settings</a>
  <a id="click1" href="/logout">Log out</a>
</div>
<script>
function myFunction() {
  var input, filter, ul, li, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

</body>
</html>
