<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Match Me</title>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="/static/settings.css">
</head>
<body>
<div class="topnav">
    <a id="click" href="/">Home</a>
    <a id="click" href="contact.html">Contact</a>
    <a id="click" href="about.html">About</a>
    <label id="time"></label>
      <script>
         setInterval(()=>{
           const time = document.querySelector("#time");
           let date = new Date();
           let hours = date.getHours();
           let minutes = date.getMinutes();
           let seconds = date.getSeconds();
           let day_night = "AM";
           if(hours > 12){
             day_night = "PM";
             hours = hours - 12;
           }
           if(seconds < 10){
             seconds = "0" + seconds;
           }
           if(minutes < 10){
             minutes = "0" + minutes;
           }
           if(hours < 10){
             hours = "0" + hours;
           }
           time.textContent = hours + ":" + minutes + ":" + seconds + " "+ day_night;
         });
      </script>
</div>
</body>
<body id="body2">
  {% if error %}
  <div class="alert">
    <span class="closebtn1" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error:</strong>  {{ error }}
  </div>
  {% endif %}
<table>
<tr>
<th>
{% if change %}
<div id="upload">
  <form method="post" enctype=multipart/form-data action="/upload" id="formup">
    <label>Upload pictures to your account</label>
    <input type="file" name="file" required>
    <input type="submit" value="Upload">
  </form>
</div>
{% else %}
<div id="upload">
  <form method="post" enctype=multipart/form-data action="/updatepic" id="formup">
    <label>Update your account picture</label>
    <input type="file" name="file" required>
    <input type="submit" value="Upload">
  </form>

  <a id="warning" href="/deletepic">Delete your picture</a>
</div>
{% endif %}
</th>
<th>
<div>
<form method="post" action="/update_pw">
  <label>Change your password</label>
  <input type="password" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" placeholder="Enter your new password" id="pw" required>
  <input type="checkbox" onclick="password()" id="label"></input><label id="label1">Show password</label>
  <p id="p"><b>Password must contain the following:</b><br>
    A lowercase letter<br>
    A capital (uppercase) letter<br>
    A number<br>
    Minimum 8 characters</p>
  <input type="submit" value="Change">
</form>
</div>
</th>
</tr>
<tr>
<th>
<div>
  <form method="post" action="/bg_style">
    <label>Change your chat background</label>
    <select name="bg_style" id="bg_style">
      <option value="red, yellow">Default</option>
      <option value="blue, cyan">Sky Blue</option>
      <option value="purple, lavender">Purple Ink</option>
      <option value="black, white">Yin & Yang</option>
      <option value="purple, cyan">Aurora Borealis</option>
      <option value="green, yellow">Nature Green</option>
      <option value="yellow, black">Yellow & Black</option>
      <option value="red, black">Red & Black</option>
      <option value="orange, black">Orange & Black</option>
      <option value="Green, black">Green & Black</option>
      <option value="blue, black">Blue & Black</option>
      <option value="pink, black">Pink & Black</option>
      <option value="purple, black">Purple & Black</option>
      <option value="purple, white">Purple & White</option>
      <option value="red, white">Red & White</option>
      <option value="orange, white">Orange & White</option>
      <option value="Green, white">Green & White</option>
      <option value="blue, white">Blue & White</option>
      <option value="pink, white">Pink & White</option>
      <option value="yellow, white">Yellow & White</option>
      <option value="purple, blue">Purple & Blue</option>
    </select>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</th>
<th>
<div>
  <form method="post" action="/remove_contact">
    <label>Choose the contact you want to remove</label>
    <select id="contact" name="contact" class="contact" multiple="multiple" required>
      {% for i in contacts %}
      <option
         value={{ i }}>{{ i }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Remove">
  </form>
</div>
</th>
</tr>
</table>

<div class="sidebar">
  <a href="/account">Account</a>
  <a href="/message">Messaging app</a>
  <a href="friends"><img href="/static/people.png">Friends</a>
  <a href="/settings" style="color:red;">Settings</a>
  <a id="click1" href="/logout">Log out</a>
</div>
<script>
function password() {
  var x = document.getElementById("pw");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</body>
</html>
